@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}
@for $i from 1 through 20 {
  .w#{$i*10} {
    width: $i * 10px !important;
  }
  .h#{$i*10} {
    height: $i * 10px !important;
  }
}
@for $i from 1 through 10 {
  .wh#{$i*10} {
    width: $i * 10px !important;
    height: $i * 10px !important;
  }
  .m#{$i*5} {
    margin: $i * 5px !important;
  }
  .ml#{$i*5} {
    margin-left: $i * 5px !important;
  }
  .mr#{$i*5} {
    margin-right: $i * 5px !important;
  }
  .mt#{$i*5} {
    margin-top: $i * 5px !important;
  }
  .mb#{$i*5} {
    margin-bottom: $i * 5px !important;
  }
  .p#{$i*5} {
    padding: $i * 5px !important;
  }
  .pl#{$i*5} {
    padding-left: $i * 5px !important;
  }
  .pr#{$i*5} {
    padding-right: $i * 5px !important;
  }
  .pt#{$i*5} {
    padding-top: $i * 5px !important;
  }
  .pb#{$i*5} {
    padding-bottom: $i * 5px !important;
  }
}
/* */
.overlay {
  position: fixed;
  z-index: 1000;
  background-color: #00000044;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.dialog {
  position: fixed;
  z-index: 1290;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  &.fullscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .dialog-container {
    position: relative;
    z-index: 999999;
    pointer-events: auto;
    iframe {
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100%;
      width: 100%;
    }
    .dialog-content {
      display: flex;
      flex-direction: column;
      min-height: 50px;
      min-width: 50px;
      height: 100%;
      box-shadow: 0px 0px 1px 0px rgba(82, 100, 132, 0.2), 0px 8px 15.52px 0.48px rgba(28, 43, 70, 0.15);
      background-color: #fff;
      background-clip: padding-box;
      border: 0 solid rgba(0, 0, 0, 0);
      border-radius: 5px;
      .dialog-title {
        padding: 12px;
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 1.25rem;
      }
      .dialog-desc {
        padding: 12px;
        flex: 1 1 auto;
      }
      .dialog-actions {
        padding: 24px;
        display: flex;
        justify-content: space-evenly;
      }
      .close {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
      }
    }
  }
}
.drawer-container {
  width: 100%;
  height: 100%;
}
.drawer {
  width: 250px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: #00000044;
  display: flex;
  align-items: center;
  justify-content: center;
}
.snack {
  position: fixed;
  z-index: 1310;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  .alert {
    margin-bottom: 10px;
    max-width: 500px;
    max-height: 300px;
    overflow-y: auto;
  }
  .alert > div {
    max-width: 400px;
    overflow-wrap: break-word;
  }
}

.upsert-container,
.detail-container,
.list-container {
  margin: 20px;
  position: relative;
}
.container-left {
  display: inline-flex;
  justify-content: flex-start;
}
.container-right {
  display: inline-flex;
  justify-content: flex-end;
}
.upsert-container {
}
.list-container {
  .list-actions {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .list-search {
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    .list-search-fields {
      margin-right: 10px;
      .search-form-field {
        margin-left: 10px;
      }
    }
  }
  .header-actions,
  .row-actions {
    justify-content: flex-end;
    min-width: 120px;
    padding: 0;
    padding-right: 13px;
  }
  .header-checkbox,
  .row-checkbox {
    width: 60px;
    padding: 0;
    flex: none;
    justify-content: center;
  }
  .header-select,
  .row-select {
    justify-content: center;
    min-width: 100px;
    padding: 0;
    flex: none;
  }
}
.detail-container {
  .detail-actions {
    display: flex;
    justify-content: flex-end;
  }
}
.filter-field,
.detail-field,
.create-field,
.edit-field {
  width: 100%;
  min-width: 200px !important;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  img {
    max-height: 150px;
  }
}
